.hide{
    display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

/* filter controls */
.search-div{
    margin: 10px;
    color: rgb(1, 0, 5);
}

div.container{
    margin: 0px 40px;
    background: #eddbf5;
}

.tool-color{
    color: #08152c;
    background: rgb(252, 133, 242);
}

.table-color{
    background: #eddbf5;
}
