<div class="container">
    <mat-toolbar class="tool-color">
        <span class="fill-remaining-space"></span>
        <span>AUTO QUOTE: STEP 2 OF 8</span>
        <span class="fill-remaining-space"></span>
        <span>VEHICLES</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    
    <div class="search-div">
        <font face="arial"><h1>Add up to 4 vehicles</h1></font>
        <p>Add up to 4 private passenger vehicles you'd like to quote. 
        If you need to quote more than 4 vehicles, please work with an agent. 
        All fields are required unless otherwise noted as optional</p>
        <button mat-raised-button color="accent" (click)="onCreate()"><mat-icon>add</mat-icon>Add Vehicle</button>
    </div>
    
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="vehicles" class="table-color"> 
            <ng-container matColumnDef="year">
                <mat-header-cell *matHeaderCellDef><b>Year</b></mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.year}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="make">
                <mat-header-cell *matHeaderCellDef><b>Make</b></mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.make}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="model">
                <mat-header-cell *matHeaderCellDef><b>Model</b></mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.model}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="bodyStyle">
                <mat-header-cell *matHeaderCellDef><b>Body Style</b></mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.bodyStyle}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                    <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef col-span="6">Loading data...</mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef col-span="6">Click on Add Vehicle to add your vehicle details</mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':vehicles!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(vehicles!=null && vehicles.length==0)}"></mat-footer-row>
        </mat-table>
    </div>
    
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="warn" type="submit" routerLink="vehiclesPage" (click)="prev()">Previous</button>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="primary" [disabled]="isDisable" routerLink="driverPage" (click)="save()">Save and Continue</button>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div> 
