/*Drivers Page CSS*/
.topnav {
    overflow: hidden;
    background-color:rgb(143, 36, 165);
    height: 55px;
  }
  
h1{
    color: rgb(240, 231, 231);
    margin-left: 300px;
    margin-top:100px;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}
h5{
    color: white;
    font-size: 100px;
    margin-top: 15px;
    margin-left: 10px;
}
p{
    font-size: 30px;
    margin-left: 300px;
    margin-top: 50px;
    color:tomato;
    font-family: Arial, Helvetica, sans-serif;
}
hr.line{ border: 2px solid black;margin-top: 30px;margin-left:300px;margin-right: 30px;}
input.no-outline{
    border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        
        size: 0px;        
}
.no-outline:focus {
    outline: none;
  }
  
 /* input:hover{
      background-color:;
      border: 1px solid grey;
  }*/
  /*section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }*/
  
  .example-form {
    /*min-width: 150px;
    max-width: 500px;*/
    width:50px;
  }

  .example-full-width {
    width: 100%;
    font-size: 18px;
  }
  
  td {
    padding-right: 8px;
  }
  
  .dob{
    color: #000;
    font-size: 20px;
    text-align: left;
  }
  /* .dateofbirth{
    
  } */
  /*button */
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
