.form-color{
    background: rgb(208, 245, 239);
}

.form-color{
    background: rgb(208, 245, 239);
}

form.normal-form{
    margin-top: 5px;
    align-content: center;
}

.tool-color{
    color: #08152c;
    background: rgb(252, 133, 242);
}

.controles-container{
    align-content: center;
    width: 100%;
    padding: 5%;
    height: 100%;
}

.controles-container > *{
    width: 50%;
}

.button-row button{
    margin: 5px;
    margin-bottom: 5px;
}

/*for dialog popup*/
.btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
}
