/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Notification*/
snack-bar-container.success {
    background-color: #087e08;
    color: #fff;
}

snack-bar-container.warn {
    background-color: #da240c;
    color: #fff;
}

snack-bar-container.notification simple-snack-bar{
    font-size: 15px !important;
    font-weight: normal;
}

.fill-remaining-space{
    /*This fills the remaining space by using the flexbox.
        every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

/*customised dialog*/
.confirm-dialog-container .mat-dialog-container{
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}

.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
}

.confirm-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}

.confirm-dialog-container #close-icon:hover{
    cursor: pointer;
}

.confirm-dialog-container #no-button{
    height: 50px;
    width: 50%;
    background-color: #fa5f5f;
    color: white;
    border-radius: 0px;
}

.confirm-dialog-container #yes-button{
    height: 50px;
    width: 50%;
    background-color: #71f88e;
    color: white;
    border-radius: 0px;
}

.confirm-dialog-container span.content-span{
    padding: 35px 16px;
    text-align: center;
    font-size: 20px;
}
