<p>
    <mat-toolbar color="primary">
      <span>Welcome to Insurance Portal</span>
    </mat-toolbar>
  </p>
  <mat-card id="demo"> 
  <mat-card-subtitle>	Let's start with generating a quote for you </mat-card-subtitle>
  <mat-card-content><app-product-selection></app-product-selection></mat-card-content>
  <section>
      <div class="example-button-row">
      <a mat-raised-button color="primary" routerLink="../personal-info">Quote</a>
    </div>
  </section>
  </mat-card>
